// Font
$mainFont: "PT Sans", sans-serif;
$altFont: "Cormorant Garamond", sans-serif;
$slickFont: "slick", serif;

// Size
$fz1: 10px;
$fz2: 11px;
$fz3: 12px;
$fz4: 13px;
$fz5: 15px;
$fz6: 16px;
$fz7: 17px;
$fz8: 18px;
$fz9: 20px;
$fz10: 22px;
$fz11: 24px;
$fz12: 30px;
$fz13: 32px;
$fz14: 35px;
$fz40: 40px;
$fz44: 44px;

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

$ls1: 0.15em;
$ls2: 0.08em;
$ls3: 0.1em;
$ls4: 0.2em;

$mainLineHeight: 1.2;
$lineHeight2: 1.1;
$lineHeight3: 1.7;
$lineHeight4: 1.4;

$smPhoneWidth: 320px;
$tablet: 768px;
$smDesktopWidth: 992px;
$desktopWidth: 1200px;
$lgDesktopWidth: 1900px;

// Main color
$white: #fff;
$black: #000;
$midBlue: #0062d9;
$blue: #00c2ff;
$darkBlue: #283c80;
$red: #ff0039;
$yellow: #fcd000;
$gray: #f2f2f2;
$gray2: #f7f7f7;
$gray3: #535353;
$warningColor: #535353;
$orange: #f27d02;
$green: #378940;
$lightGreen: #d7e7d9;
$violet: #b4b8d0;
$dark: #141414;
$slickDots: #dadada;
$borderColor: #cacaca;
$headerColor: #201e21;
$textColor: #585858;
$stage: #bb9775;
$vk: #4c75a3;
$fb: #3765a3;
$whatsup: #12af0a;
